.container {
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h3 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  .text-secondary {
    margin-top: 10px;
  }

  .custom-container {
    background: linear-gradient(to bottom, #c4e4c5, #f5f7fa);
  }
  
  .custom-form {
    background: linear-gradient(to bottom, #c4e4c5, #f5f7fa);
  }

  button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #88b47d, #40b12f);

    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: skewX(-20deg);
    transition: all 0.5s ease-in-out;
  }
  
  button:hover:after {
    width: 100%;
    left: 0;
    transform: skewX(0deg);
  }
  
  
  